@import "variables";
@import "utility-index";
@import "todo";


.c-logo {
  position: relative;
  //
  //  Zdeněk
  //
  span {
    display: block;

    &::first-letter {
      font-size: $space * 7;
    }
  }
  //
  //  Zdeněk
  //
  small {
    position: absolute;
    top: 12px;
    right: 6px;

    font-size: 14px;
    color: $black;
  }
}



//
//  Navigation – Mobile
//
@media (max-width: $mobile-max) {
  nav {
    position: relative;
    width: $space * 3;
    height: $space * 3;

    a {
      display: none;
    }

    &::before {
      content: "MENU";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      text-align: center;
    }
  }
}



@media (min-width: $tablet) {
  nav {
    display: flex;
    justify-content: space-evenly;

    a {
      margin-left: 6rem;
      margin-bottom: 1rem;
      font-size: 2.4rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




//
//  Shrink Header onScroll
//
header {
  transition: all 150ms ease-in-out;
}
.js__shrink-navigation {
  header {
    @media (min-width: $tablet) {
      transform: scale(.5);
      &:hover { transform: scale(1); }
    }
  }
}