$space: 1rem;



$tablet:      768px;
$mobile-max:  767px;


$white: white;
$black: black;






//
//  z-index
//
//
//  usage
//  -----
//  .modal {
//    z-index: z-index(modal);
//  }
//

$zindex: (
  modal:    9,
  backdrop: 8,
);
